{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": 0,
    "linebreak-style": 0,
    "func-names": "off",
    "space-before-function-paren": 1,
    "prefer-destructuring": 0,
    "no-param-reassign": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": ["error", 120, 4],
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}],
    "import/prefer-default-export": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "ignore"
    }]
  }
}