# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
*.env
.env
config.json

# DB files
rethinkdb_data/

# Files created by i18n module
src/constants/locales/*.js

# Swap files
*.swp
*.swo
